*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: NorseBold;
    src: url(fonts/Norse-Bold.otf) format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-form {
    display: flex;
}

.decoration,
.sign-up-form {
    height: 100vh;
}

.decoration {
    background-image: url(pictures/photo-1585202900225-6d3ac20a6962.avif);
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.decoration p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
    align-self: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 200px;
}

.logo>img {
    height: 70%;
}

.logo>span {
    color: white;
    font-family: NorseBold;
    font-size: 6rem;
}

.intro,
.form,
.submit {
    flex: 1;
    padding-left: 30px;
    padding-right: 150px;
}

.bg-accent {
    background-color: rgb(247, 247, 247);
}

.intro {
    font-weight: bold;
}

.intro p:nth-child(1) {
    padding: 0;
    margin-top: 100px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-pair {
    display: flex;
    gap: 2rem;
}

.form-item label {
    display: block;
}