*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-form {
    display: flex;
}

.decoration,
.sign-up-form {
    /* Remove border later */
    border: 1px solid black;
    height: 100vh;
}

.decoration {
    background-color: black;
    width: 35vw;
}

.intro,
.form,
.submit {
    border: 1px solid black;
    flex: 1;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.form-pair {
    display: flex;
    gap: 2rem;
}

.form-item label {
    display: block;
}