*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: NorseBold;
    src: url(fonts/Norse-Bold.otf) format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-form {
    display: flex;
}

.decoration,
.sign-up-form {
    height: 100vh;
}

.decoration {
    background-image: url(pictures/photo-1585202900225-6d3ac20a6962.avif);
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.decoration p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
    align-self: center;
}

.decoration a {
    text-decoration: none;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 200px;
}

.logo>img {
    height: 70%;
}

.logo>span {
    color: white;
    font-family: NorseBold;
    font-size: 6rem;
}

.intro,
.form,
.submit {
    flex: 1;
    padding-left: 30px;
    padding-right: 150px;
}

.bg-accent {
    background-color: rgb(247, 247, 247);
}

.intro,
.form p {
    font-weight: bold;
}

.intro p:nth-child(1) {
    padding: 0;
    margin-top: 100px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.form-pair {
    display: flex;
    gap: 4rem;
}

.form-item {
    margin-top: 10px;
}

.form-item label {
    display: block;
    color: rgb(135, 135, 135);
    font-size: 0.6rem;
    font-weight: bold;
}

.form-item input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 3px;
}

.form-item input:focus {
    outline: none;
    border: 1px solid rgb(98, 98, 252);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
}

input.error {
    border: 1px solid red;
}

.pwd-error {
    color: red;
    font-size: 0.5rem;
    margin-top: 2px;
}

.submit button {
    font: inherit;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    border: none;
    border-radius: 3px;
    background-color: #596D48;
    font-size: 0.8rem;
    padding: 10px 30px;
}

.submit button:hover {
    cursor: pointer;
    background-color: #87a072;
}

.submit p {
    font-size: 0.85rem;
    margin-top: 30px;
}

.submit a:link {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .main-form {
        flex-direction: column;
    }

    .decoration {
        background-image: url(pictures/photo-1585202900225-6d3ac20a6962.avif);
        width: 100vw;
        height: 20vh;
        justify-content: center;
    }

    .logo {
        margin-top: 20px;
    }

    .intro {
        padding-right: 35px;
    }

    .intro p:nth-child(1) {
        margin-top: 50px;
    }
}